APP_NAME="Dactyla Starter"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=dactyla_starter
DB_USERNAME=root
DB_PASSWORD=

QUEUE_CONNECTION=redis

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

# META GRAPH API V18+ CREDENTIALS
META_VERIFY_TOKEN="dactyla_starter_token_2026"
META_APP_SECRET="SEU_META_APP_SECRET_AQUI"
META_PHONE_NUMBER_ID="SEU_PHONE_NUMBER_ID_AQUI"
META_ACCESS_TOKEN="EAAG..."
